@import 'tailwindcss' source('../');

@theme {
  /* This creates the utility class: font-roboto */
  --font-roboto: var(--font-roboto), sans-serif;
  --font-sans: var(--font-roboto), sans-serif;
}

/* Horizontal Scroll */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

a,
p {
  overflow-wrap: break-word;
  word-break: break-word;
}
